name: Lint, Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go 1.24
        uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: go mod download

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6.2
          args: --timeout=30m --config=.golangci.yml

      - name: Run Modernize
        run: go run golang.org/x/tools/gopls/internal/analysis/modernize/cmd/modernize@v0.18.1 ./...

      - name: Generate builtins
        run: go generate ./...

      - name: Check `builtins` directory
        # if it has any changes in the 'builtins' dir after running `go generate`, echo an error and fail the workflow
        run: git diff --exit-code builtins || (echo "\n\n\nbuiltins directory is not up to date, run 'go generate ./...' to update it" && exit 1)

      - name: Check `internal` directory
        # if it has any changes in the 'testcontracts' dir after running `go generate`, echo an error and fail the workflow
        run: git diff --exit-code internal || (echo "\n\n\n internal directory is not up to date, run 'go generate ./...' to update it" && exit 1)

  test:
    strategy:
      matrix:
        include:
          - image: ghcr.io/vechain/thor:master-latest # latest nightly version
          - image: vechain/thor:latest # latest stable version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go 1.24
        uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: Test
        run: make test
        env:
          SOLO_IMAGE: ${{ matrix.image }}
